@page "/{CourseId:int}/{LessonId:int}"
@page "/courses/{CourseId:int}/{LessonId:int}"

@using Blazorise
@using SEIIApp.Shared.DomainDTOs

@inject HttpClient Http
@inject NavigationManager NavigationManager

<TextEdit Placeholder="Quizzes completed: 1/1" ReadOnly="true" class="text-center" />
<Progress>
    <ProgressBar Background="Background.Success" Value="99" Animated=true />
    <ProgressBar Background="Background.Dark" Value="100" Animated=true />
</Progress>
<br />
<br />

<div class="text-center">
    <h3>@(lesson?.Title ?? "Loading Lesson Title")</h3>
</div>
<div class="text-center">
    <h4>@(lesson?.Description ?? "Loading Lesson Description")</h4>
</div>
<br />
<br />

<div class="text-center">
    <h4>Documents</h4>
</div>
@if (documents == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (DocumentContentDto document in documents)
    {
        <p class="text-center">
            <Button Color="Color.Light">
                <a href="@document.Location" target="_blank">
                    <h5>@document.Title</h5>
                </a>
            </Button>
        </p>
        <br />
    }
}

<br />
<div class="text-center">
    <h4>Videos</h4>
</div>
@if (videos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p class="text-center">
        <Accordion>
            @foreach (VideoContentDto video in videos)
            {
                @code{bool collapseVisible = false;}
                <Collapse Visible="@collapseVisible">
                    <CollapseHeader>
                        <Heading>
                            <Button Clicked="@(()=>collapseVisible = !collapseVisible)"><h5>@video.Title</h5></Button>
                        </Heading>
                    </CollapseHeader>
                    <CollapseBody>
                        <iframe width="560" height="315" src="@video.Location" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </CollapseBody>
                </Collapse>
            }
        </Accordion>
    </p>
    <br />
}

<br />
<div class="text-center">
    <h4>Quizzes</h4>
</div>
@if (quizzes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (QuizDto quiz in quizzes)
    {
        <p class="text-center">
            <Button Color="Color.Light" Clicked="@(() => SelectQuiz(quiz.QuizId))">
                <h5>@quiz.Title</h5>
            </Button>
        </p>
        <br />
    }
}

@code {
    [Parameter]
    public int CourseId { get; set; }
    [Parameter]
    public int LessonId { get; set; }

    private LessonDto lesson;
    private List<DocumentContentDto> documents;
    private List<VideoContentDto> videos;
    private List<QuizDto> quizzes;
    private QuizDto[] quizArray;

    protected override async Task OnInitializedAsync()
    {
        string uri = $"api/Lessons/{LessonId}";
        lesson = await Http.GetFromJsonAsync<LessonDto>(uri);
        documents = lesson.DocumentContents;
        videos = lesson.VideoContents;
        quizzes = lesson.Quizzes;
        quizArray = quizzes.ToArray();
    }

    private void SelectQuiz(int quizId)
    {
        string uri = $"courses/{CourseId}/{LessonId}/{quizId}";
        NavigationManager.NavigateTo(uri);
    }
}