@page "/{CourseId:int}/{LessonId:int}"
@page "/courses/{CourseId:int}/{LessonId:int}"

@using Blazorise
@using SEIIApp.Shared.DomainDTOs

@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="text-center">
    <h3>@(lesson?.Title ?? "Loading Lesson Title")</h3>
</div>
<div class="text-center">
    <h4>@(lesson?.Description ?? "Loading Lesson Description")</h4>
</div>

<TextEdit Placeholder="Quizzes completed: 1/1" ReadOnly="true" class="text-center" />
<Progress>
    <ProgressBar Background="Background.Success" Value="99" Animated=true />
    <ProgressBar Background="Background.Dark" Value="100" Animated=true />
</Progress>

<br />
<div class="text-center">
    <h5>Documents</h5>
</div>
@if (documents == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (DocumentContentDto document in documents)
    {
        <p class="text-center">
            <Button Color="Color.Light">
                <a href="@document.Location" target="_blank">
                    <h4>@document.Title</h4>
                </a>
            </Button>
        </p>
        <br />
    }
}

<br />
<div class="text-center">
    <h5>Videos</h5>
</div>
@if (videos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (VideoContentDto video in videos)
    {
        <p class="text-center">
            <h4>@video.Title</h4>
            <iframe width="560" height="315" src="@video.Location" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
        <br />
    }
}

<br />
<div class="text-center">
    <h5>Quizzes</h5>
</div>
@if (quizzes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (QuizDto quiz in quizzes)
    {
        <p class="text-center">
            <Button Color="Color.Light" Clicked="@(() => SelectQuiz(quiz.QuizId))">
                <h4>@quiz.Title</h4>
            </Button>
        </p>
        <br />
    }
}

@code {
    [Parameter]
    public int CourseId { get; set; }
    [Parameter]
    public int LessonId { get; set; }

    private LessonDto lesson;
    private List<DocumentContentDto> documents;
    private List<VideoContentDto> videos;
    private List<QuizDto> quizzes;
    private QuizDto[] quizArray;

    protected override async Task OnInitializedAsync()
    {
        string uri = $"api/Lessons/{LessonId}";
        lesson = await Http.GetFromJsonAsync<LessonDto>(uri);
        documents = lesson.DocumentContents;
        videos = lesson.VideoContents;
        quizzes = lesson.Quizzes;
        quizArray = quizzes.ToArray();
    }

    private void SelectQuiz(int quizId)
    {
        string uri = $"courses/{CourseId}/{LessonId}/{quizId}";
        NavigationManager.NavigateTo(uri);
    }

    private void SelectUri(Uri uri)
    {
        string stringUri = uri.ToString();
        NavigationManager.NavigateTo(stringUri);
    }
}